<!DOCTYPE html>

<html>
    <head>
        <title>BrainRotAI</title>
        
    </head>
    <body>
        <h1>BrainRotAI</h1>
        <a href="/about_user/">About User</a><br>
        <h3>Generate image from prompt</h3>
        <form id="prompt_form" method="post">
            Prompt: <input type="text" id="prompt_input">
            <select id="image_ratio">
                <option value="1:1">1:1</option>
                <option value="4:3" selected>4:3</option>
                <option value="16:9">16:9</option>
            </select>
            <br><br>
            <button type="submit" id="submit_btn">Generate</button>
        </form>
        <br>
        <div id="result_image"></div>
        
    </body>
    <script src="{{url_for('static', path='/js/view.js')}}"></script>
</html>